@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #57534e;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0px white;
  }
  50% {
    box-shadow: 0 0 20px 5px white;
  }
  100% {
    box-shadow: 0 0 10px 0px white;
  }
}
@keyframes updown {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes downup {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes leftright {
  0% {
    transform: translateX(0vh);
  }
  50% {
    transform: translateX(-1vh);
  }
  100% {
    transform: translateX(0vh);
  }
}

.animate-glow {
  animation: glow 2s infinite;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift1 {
  height: calc(var(--mazeCell) * 1);
  width: calc(var(--mazeCell) * 1);
  position: absolute;
  top: calc(var(--mazeCell) * 3);
  left: calc(var(--mazeCell) * 27);
}
.gift2 {
  height: calc(var(--mazeCell) * 1);
  width: calc(var(--mazeCell) * 1);
  position: absolute;
  top: calc(var(--mazeCell) * 7);
  left: calc(var(--mazeCell) * 27);
}
.gift3 {
  height: calc(var(--mazeCell) * 1);
  width: calc(var(--mazeCell) * 1);
  position: absolute;
  top: calc(var(--mazeCell) * 11);
  left: calc(var(--mazeCell) * 27);
}
.star {
  position: absolute;
  z-index: 20;
  height: 4vh;
}
.custom-container {
  height: 33.33%;
  width: 66.33%;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  backdrop-filter: blur(4px);
  align-items: center;
  font-size: 4rem;
}

.emptyCell {
  width: var(--mazeCell);
  height: var(--mazeCell);
}

.roadCell {
  background-color: #344684;
  scale: 1;

  position: relative;
}
.roadImage {
  opacity: 30%;
  width: var(--mazeCell);
  height: var(--mazeCell);
}

.sb {
  width: calc(var(--mazeCell) * 1.5);
  position: absolute;
  bottom: calc(var(--mazeCell) * 6);
}
.carRoad {
  position: absolute;
  width: var(--mazeCell);
  z-index: 10;
  display: none;
  bottom: calc(var(--mazeCell) * 6);
}
.statusBar {
  display: flex;
  position: absolute;
  justify-content: space-around;
  color: white;
  align-items: center;
  height: 30px;
  width: 18vw;
  left: 70vw;
  border-radius: var(--borderRadius);
  background-color: var(--themeColor);
  top: calc(15vh - 40px);
}

.house1 {
  width: calc(var(--mazeCell) + 10px);
  position: absolute;
  bottom: calc(var(--mazeCell) * 7);
}
.arrow {
  position: absolute;
  z-index: 20;
  width: calc(var(--mazeCell) * 0.5);
  transition: ease-in-out;
  display: none;
  animation: updown 2s infinite;
}
.arrow1 {
  position: absolute;
  height: calc(var(--mazeCell) * 0.5);
  animation: leftright 2s infinite;
  transition: ease-in-out;

  z-index: 20;
  display: none;
}
.arrow2 {
  position: absolute;
  z-index: 20;
  width: calc(var(--mazeCell) * 0.5);
  display: none;
  animation: downup 2s infinite;
  transition: ease-in-out;
}
.house2 {
  width: calc(var(--mazeCell));
  position: absolute;
  bottom: calc(var(--mazeCell) * 7);
}

.house3 {
  width: calc(var(--mazeCell));
  position: absolute;
  bottom: calc(var(--mazeCell) * 11);
}

.house4 {
  width: calc(var(--mazeCell) * 1.2);
  position: absolute;
  z-index: 10;
  bottom: calc((var(--mazeCell) * 3) - 10px);
}

.house5 {
  width: calc(var(--mazeCell) * 1.5);
  position: absolute;
  bottom: calc(var(--mazeCell) * 3);
}

.house6 {
  width: calc(var(--mazeCell) * 1.7);
  position: absolute;
  bottom: calc(var(--mazeCell) * 3);
}

.house7 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  bottom: calc(var(--mazeCell) * 3);
}

.house8 {
  width: calc(var(--mazeCell) * 1.2);
  position: absolute;
  bottom: calc(var(--mazeCell) * 3);
}

.house9 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  bottom: calc(var(--mazeCell) * 3);
}

.flower1 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) - 10px);
  bottom: calc(var(--mazeCell) * 7);
}
.flower2 {
  width: calc(var(--mazeCell) - 5px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 2 - 10px);
  bottom: calc(var(--mazeCell) * 7);
}
.flower3 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 9 - 10px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower4 {
  width: calc(var(--mazeCell));
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 7 - 20px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower5 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 2 - 5px);
  bottom: calc(var(--mazeCell) * 3 - 10px);
}
.flower6 {
  width: calc(var(--mazeCell));
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 3 - 5px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower7 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 23 - 15px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower8 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 6);
  bottom: calc(var(--mazeCell) * 3);
}
.flower9 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 11 + 10px);
  bottom: calc(var(--mazeCell) * 9);
}
.flower10 {
  width: calc(var(--mazeCell) - 15px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 11 + 20px);
  bottom: calc(var(--mazeCell) * 9);
}
.flower11 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 4 - 10px);
  bottom: calc(var(--mazeCell) * 7);
}
.flower12 {
  width: calc(var(--mazeCell));
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 11 - 10px);
  bottom: calc(var(--mazeCell) * 9);
}
.flower13 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 14 - 10px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower14 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 13);
  bottom: calc(var(--mazeCell) * 3);
}
.flower15 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 14 - 20px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower16 {
  width: calc(var(--mazeCell));
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 21 - 10px);
  bottom: calc(var(--mazeCell) * 3);
}
.flower17 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 8 - 10px);
  bottom: calc(var(--mazeCell) * 11);
}
.flower18 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 7 - 10px);
  bottom: calc(var(--mazeCell) * 11);
}
.flower19 {
  width: calc(var(--mazeCell) - 20px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 7 + 10px);
  bottom: calc(var(--mazeCell) * 11);
}
.flower20 {
  width: calc(var(--mazeCell) - 10px);
  position: absolute;
  z-index: 20;
  left: calc(var(--mazeCell) * 20 - 10px);
  bottom: calc(var(--mazeCell) * 11);
}
